@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

h1 {
    text-align: center;
}

main {
    margin: auto;
    margin-top: 10px;
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
}

div {
    margin: auto;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    font-size: 1.4em;
    border-radius: 8px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}